Nowy Składnik 
<br> 
<br>
<span style="color:red">
  <%= @ingredient.errors.full_messages.first if @ingredient.errors.any? %>
</span>

<br>
<%= form_for @ingredient do |f| %>
  <%= f.label 'Nazwa' %>
  <%= f.text_field :name %>
  <%= f.submit "Dodaj" %>
<nobr>
<% end %>
| <%= link_to 'Anuluj', ingredients_path %>
